<div>
    <div id="example1">
        <!-- <label class="col-lg-3 control-lable text-light"> <h3>game-list.component.html</h3> </label> -->
        <!-- <div>
            <app-add-game></app-add-game>
        </div> -->

        <div class="container wrapper">
            <div class="row">

                <!-- Game table -->
                <div class="container text-center">
                    <div class="inner">
                        <br>
                        <br>
                        <label class="col-lg-3 control-lable text-light">
                            <h3>List of Games</h3>
                        </label>
                        <table class="table table-dark text-light">
                            <thead class="container text-center">
                                <tr>
                                    <th ng-hide="true">Game ID</th>
                                    <th scope="col">Game Name</th>
                                    <th scope="col">Game Genre</th>
                                    <th scope="col">Game Release Date</th>
                                    <th scope="col">Reviews</th>
                                    <th scope="col">Action</th> 
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let game of gameService.GameList">
                                    <th scope="row">{{game.game_id}}</th>
                                    <td>{{game.game_name}}</td>
                                    <td>{{game.game_genre}}</td>
                                    <td>{{game.game_releaseDate | date: 'longDate'}}</td>
                                    <td>
                                        <button type="button" class="btn btn-outline-light move-right"
                                        (click)="routeToReviewsForGamePage(game)">Reviews</button>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-outline-light move-right"
                                            (click)="gameService.editCurrentGame(game)">Edit</button> | 
                                        <button type="button" class="btn btn-outline-light"
                                            (click)="deleteGame(game)">Remove</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <br>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>