<div id="example1">
    <!-- <label class="col-lg-3 control-lable text-light"> <h3>add-game.component.html</h3> </label> -->
    <div class="container wrapper wrapper2">
        <div class="row">
            <div class="col-md-12">
                <br>
                <br>
                <label class="col-lg-3 control-lable text-light" for="game_releaseDate">
                    <h3>Add Review</h3>
                </label>
                <form [formGroup]="reviewForm" (ngSubmit)="submitForm()" name="reviewForm" class="form-horizontal"
                    novalidate>
                    <table class="table table-dark text-light">
                        <tr>
                            <td>
                                <label>Review Body*</label>
                            </td>
                            <td>
                                <textarea id='inputText-NewReviewForm-ReviewBody' formControlName="review_body" class="form-control" placeholder="What did you like/dislike about the game? [required]"
                                    required></textarea>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>Author</label>
                            </td>
                            <td>
                                <input id='inputText-NewReviewForm-ReviewAuthor' type="text" formControlName="review_author" class="form-control"
                                    placeholder="Your name (leave black to leave an anonymous review)">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>Rating</label>
                            </td>
                            <td>
                                <select id="ratingSelection" formControlName="review_rating" class="chzn-select" style="width: 100px" required>
                                    <option value=1>1</option>
                                    <option value=2>2</option>
                                    <option value=3>3</option>
                                    <option value=4>4</option>
                                    <option value=5>5</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td class="form-actions p-2">
                                <button type="submit" class="btn btn-outline-light">Submit</button> | 
                                <button type="button" class="btn btn-outline-light move-right"
                                (click)="resetReviewForm()">Reset</button>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
    </div>
</div>