<div id="MGLbackground">
    <div class="container wrapper wrapper2">
        <div class="row">
            <div class="col-md-12">
                <br>
                <br>
                <label class="col-lg-6 control-lable text-light">
                    <h3>Edit Review for {{gameService.currentGame.game_name}}</h3>
                </label>
                <form [formGroup]="updateReviewForm" (ngSubmit)="submitForm()" cssClass="form-horizontal" method="post"
                    modelAttribute="currentReview">
                    <div class="form-group" hidden>
                        <label class="col-md-2 control-lable text-light" for="input_field_edit_review_id">Review
                            ID</label>
                        <input id="input_field_edit_review_id" type="text" formControlName="review_id"
                            class="form-control" maxlength="20">
                    </div>
                    <table class="table table-sm table-dark text-light table-striped">
                        <tbody>
                            <tr>
                                <td>
                                    <label class="col-lg-6 control-lable text-light"
                                        for="input_field_edit_review_body">Review Body*</label>
                                </td>
                                <td>
                                    <textarea id="input_field_edit_review_body" formControlName="review_body"
                                        class="form-control"
                                        placeholder="What did you like/dislike about the game? [required]"
                                        required></textarea>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="col-lg-6 control-lable text-light"
                                        for="input_field_edit_review_author">Review Author</label>
                                </td>
                                <td>
                                    <input id="input_field_edit_review_author" formControlName="review_author"
                                        class="form-control"
                                        placeholder="Your name (leave black to leave an anonymous review)">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="col-lg-6 control-lable text-light" for="starRatingSelection">Star
                                        Review
                                        Rating</label>
                                </td>
                                <td>
                                    <star-rating id="starRatingSelection" value="{{currentReview.review_rating}}"
                                        totalstars="5" checkedcolor="white" uncheckedcolor="black" size="24px"
                                        readonly="false" (rate)="onRate($event)"></star-rating>
                                </td>
                            </tr>
                            <tr>
                                <td class="form-actions p-2">
                                    <button id="button_submit_edit_review" type="submit"
                                        class="btn btn-outline-light">Update</button> |
                                    <button id="button_reset_edit_review" type="button"
                                        class="btn btn-outline-light move-right"
                                        (click)="resetReviewForm()">Reset</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
    </div>
</div>